<!DOCTYPE html>
<html>
  <!--<head>-->
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  <!--</head>-->
  <!--<body>-->
  <!--  <h1>Sample App</h1>-->
  <!--  <p>-->
  <!--    This is the home page for the-->
  <!--    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>-->
  <!--    sample application.-->
  <!--  </p>-->
    <div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
  </body>
</html>